/* static/styles.css */

/* Custom styles can be added here */

form {
    border-radius: 5px;
}


h2 {
    font-size: 2em;
    /* Increase size of headers */
}

table {
    font-size: 1.2em;
    /* Increase font size for table text */
}

.form-label {
    font-size: 1.5em;
    /* Larger labels in forms */
}

